{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7 p-4">
    <h1 class="text-primary">Welcome to Local Library Uganda</h1>
    <p class="lead pt-5">
        Local Library Uganda was built with love by Ojok Simon Peter to help his friends and other students studying at any Higher 
        Institute of Learning to meet their academic document requirements.Local Library bridges 
        you with other students who are doing and have done the same course you are currently doing, 
        since you are also following the same path, you will be able to get and use all their materials 
        they have uploaded for you.You can also upload your own documents so other students can also you them.
        Please take time and create account to see what other students doing the some program like you are reading..<br>
        Happy studying ..... Simon Peter Ojok
    </p>
  </div>
  <div class="col-md-5 p-4">
    <h1 class=" text-center text-primary bold">CREATE ACCOUNT</h1>
    <form class="signup pb-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>
{% endblock %}
