{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'fa_css/all.css' %}">

    <title>{% block title %}Local Library | Home {% endblock %}</title>
    <style>
        .login-form {
            background-color: #00bfff;
            color: white;
        }

        .circular-image {
              border-top-left-radius: 50% 50%;
              border-top-right-radius: 50% 50%;
              border-bottom-right-radius: 50% 50%;
              border-bottom-left-radius: 50% 50%;
              height: 60px;
        }
    </style>
  </head>
  <body>
    
    <div class="container-fluid">
        {% if page == 'content' %}
          {% include "content_nav.html" %}
        {% else %}
          {% include "welcome_nav.html" %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/poper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
  <footer class="bg-primary p-3 text-white">
    <div class="row">
      <div class="col-md-4 text-center">
        <h4 class="">Contact Us</h4>
        <ul class="list-unstyled">
          <li class=""><h6>Phone</h6></li>
          <li class="">+256772241709</li>
          <li class=""><h6>Email:</h6></li>
          <li class="">locallib@gmail.com</li>
          <li class=""><h6>Website</h6></li>
          <li class="">www.locallib-ug.com</li>
        </ul>
      </div>
      <div class="col-md-4">
        hours
      </div>
      <div class="col-md-4">
        <h4 class="">Connect With Us</h4>
        <ul class="list-unstyled">
          <li class="">Facebook</li>
          <li class="">Twitter</li>
          <li class="">LinkedIn</li>
        </ul>
      </div>
    </div>
    <hr class="">
    <div class="text-center">
        Local Library Uganda
    </div>
  </footer>
</html>